<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beauty4u.backend.goods.query.mapper.GoodsSalesQueryMapper">

    <select id="findGoodsMonthlySales" resultType="Long">
        SELECT
            SUM(order_price)
        FROM order_info
        WHERE goods_code = #{goodsCode}
        AND YEAR(created_date) = #{year}
        AND MONTH(created_date) = #{month}
        AND order_status = 'PURCHASED'
    </select>

    <select id="findSalesGoodsAge" resultType="Long">
        SELECT
            SUM(order_price)
        FROM order_info o
        LEFT JOIN customer c on c.customer_code = o.customer_code
        WHERE o.goods_code = #{goodsCode}
        AND YEAR(o.created_date) = #{targetYear}
        AND MONTH(o.created_date) = #{targetMonth}
        AND c.customer_age <![CDATA[>=]]> #{startAge}
        AND c.customer_age <![CDATA[<]]> #{endAge}
    </select>

</mapper>
