<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty4u.backend.template.query.mapper.TemplateQueryMapper">
    <select id="findAllTemplate">
        SELECT
            template_id,
            template_name,
            template_content,
            created_date
        FROM template
    </select>
</mapper>