<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beauty4u.backend.customer.query.mapper.CustomerQueryMapper">

    <select id="findCustomerList" resultType="CustomerListResDTO">
        SELECT
              c.customer_code,
              c.customer_grade,
              c.customer_name,
              c.customer_gender,
              c.customer_age,
              c.customer_created_date,
              (
                SELECT MAX(o.order_created_date)
                FROM order_info o
                WHERE o.customer_code = c.customer_code AND o.order_status = 'PURCHASED'
              ) AS customer_last_order_date
          FROM customer c
         WHERE 1 = 1
            <if test="customerCode != null and customerCode != ''">
                AND c.customer_code LIKE CONCAT('%', #{customerCode}, '%')
            </if>

            <if test="customerName != null and customerName != ''">
                AND c.customer_name LIKE CONCAT('%', #{customerName}, '%')
            </if>

            <if test="customerGrade != null and customerGrade != ''">
                AND c.customer_grade = #{customerGrade}
            </if>

            <if test="customerGender != null and customerGender != ''">
                AND c.customer_gender = #{customerGender}
            </if>

            <if test="startAge != null">
                AND <![CDATA[.customer_age >= #{startAge}]]>
            </if>

            <if test="endAge != null">
                AND <![CDATA[ c.customer_age <= #{endAge} ]]>
            </if>

            <if test="sort != null and sort != ''">
                ORDER BY
                <choose>
                    <when test="sort == 'name'">
                        c.customer_name
                    </when>
                    <when test="sort == 'joinDate'">
                        c.customer_created_date
                    </when>
                    <otherwise>
                        customer_last_order_date
                    </otherwise>
                </choose>
                <if test="order != null and order != ''">
                    <choose>
                        <when test="order == 'asc'">
                            ASC
                        </when>
                        <when test="order == 'desc'">
                            DESC
                        </when>
                        <otherwise>
                            ASC <!-- 기본 정렬 방향 -->
                        </otherwise>
                    </choose>
                </if>
            </if>
         LIMIT #{offset}, #{count}
    </select>

</mapper>
