<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beauty4u.backend.promotion.query.mapper.PromotionQueryMapper">

    <select id="findPromotionById" resultType="PromotionDetailResDTO">
        SELECT
            p.promotion_id,
            p.promotion_type_id,
            pt.promotion_type_name,
            p.promotion_title,
            p.promotion_content,
            p.promotion_start_date,
            p.promotion_end_date,
            p.promotion_status
          FROM promotion p
          LEFT JOIN promotion_type pt ON p.promotion_type_id = pt.promotion_type_id
         WHERE promotion_id = #{promotionId}
    </select>

    <select id="findPromotionList" resultType="PromotionDetailResDTO">
        SELECT
        p.promotion_id as promotionId,
        p.promotion_type_id as promotionTypeId,
        pt.promotion_type_name as promotionTypeName,
        p.promotion_title as promotionTitle,
        p.promotion_start_date as promotionStartDate,
        p.promotion_end_date as promotionEndDate,
        p.promotion_status as promotionStatus
        FROM promotion p
        LEFT JOIN promotion_type pt ON p.promotion_type_id = pt.promotion_type_id
        WHERE 1 = 1
        <if test="promotionTitle != null and promotionTitle != ''">
            and promotion_title LIKE CONCAT('%', #{promotionTitle}, '%')
        </if>

        <if test="startDate != null">
            and promotion_start_date <![CDATA[>=]]> #{startDate}
        </if>

        <if test="endDate != null">
            and promotion_start_date <![CDATA[<=]]> #{endDate}
        </if>

        <if test="promotionStatus != null and promotionStatus != ''">
            and
            <choose>
                <when test="promotionStatus == 'BEFORE'">
                    promotion_status = 'BEFORE'
                </when>

                <when test="promotionStatus == 'ONGOING'">
                    promotion_status = 'ONGOING'
                </when>

                <when test="promotionStatus == 'ENDED'">
                    promotion_status = 'ENDED'
                </when>

                <otherwise>
                    promotion_status IN ('BEFORE', 'ONGOING', 'ENDED')
                </otherwise>
            </choose>
        </if>

        <if test="sort != null and sort != ''">
            ORDER BY
            <choose>
                <when test="sort == 'startDate'">
                    promotion_start_date
                </when>

                <when test="sort == 'endDate'">
                    promotion_end_date
                </when>
                <otherwise>
                    promotion_title
                </otherwise>
            </choose>

            <if test="order != null and order != ''">
                <choose>
                    <when test="order == 'asc'">
                        ASC
                    </when>
                    <when test="order == 'desc'">
                        DESC
                    </when>
                    <otherwise>
                        ASC
                    </otherwise>
                </choose>
            </if>
        </if>
        LIMIT #{offset}, #{count}
    </select>
</mapper>