<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.beauty4u.backend.promotion.query.mapper.PromotionMapper">

    <select id="findPromotionById" resultType="PromotionDetailResDTO">
        SELECT
            promotion_id,
            promotion_title,
            promotion_start_date,
            promotion_end_date,
            promotion_status
          FROM promotion
         WHERE promotion_id = #{promotionId}
    </select>

</mapper>