<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beauty4u.backend.user.query.mapper.UserQueryMapper">

    <select id="findUserList" resultType="UserListResDTO">
        SELECT
            u.user_code,
            r.user_role_name,
            d.dept_name,
            u.user_created_date,
            u.user_expired_date
        FROM user_info u
        JOIN user_role r USING (user_role_id)
        JOIN dept d USING (dept_code)
        LIMIT #{offset}, #{count}
    </select>

    <select id="findUserDetail" resultType="FindUserDetailResDTO">
        SELECT
            u.user_code,
            j.job_name,
            d.dept_name,
            r.user_role_name,
            u.user_name,
            u.email,
            u.phone
        FROM user_info u
        JOIN job j USING (job_code)
        JOIN dept d USING (dept_code)
        JOIN user_role r USING (user_role_id)
        WHERE u.user_code = #{userCode}
    </select>
</mapper>